ul {
  list-style: none;
  margin: 2rem auto;
  max-width: 40rem;
  padding: 0;
  width: 90%;
}

li {
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem;
}
